@import "../../theme/variables.scss";

.account {
  background-color: #333333;
  color: #efefef;
  .accountHeader {
    display: inline-block;
  }
  .videoContainer {
    padding: 100px;
    background: #e3e3e3;
    text-align: center;
    color: #333;
  }
  .subscribers {
    background: #333333;
  }
  .topChefs {
    li {
      padding:5px;
      margin-top:5px;
    }
    .chefName {
      position: relative;
      top: -9px;
      left: 10px;
    }
  }
  .videoPreview {
    width:40px;
    background: #e3e3e3;
    height:30px;
    display: inline-block;
  }
  .chefNameTitle {
    font-size:12px;
  }
  .spices{

  }
  .accountPhoto {
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-right:10px;
    cursor:pointer
  }
  .accountPhoto:hover {
    height: 100px;
    width: 100px;
    -webkit-transition: 1s;
    transition: 1s;

  }
  .streamButton {
    margin-top: 20px;
    float:right;
  }
  .raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #33b7a5;
    transform: translateY(-0.25em);
  }
  .raise {
    color: #ccc;
    transition: 0.25s;
    background: transparent;
    border-radius: 0;
    border-color: #33b7a5;
    &:hover,
    &:focus {
      border-color: #33b7a5;
      color: #33e0ff;
    }
  }
}
