@import "../../theme/variables.scss";

.home {
  background-color: $site-background-color;
  color: $site-color;
  .wrapper {
    padding-top: 150px;
    height: 100vh;
    font-size: 60px;
  }
  .headerBg {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../Home/kitchen.jpeg');
    background-size:     cover;
    width: 100%;
    padding:30px;
  }
  .headerUnderlay {
    padding:20px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
  }
  .videoContainer {
    width:100vw;
  }

  .chefNameTitle {
    font-size:12px;
  }
  .woodHeader {
    background: #2d2d2d url('../Home/wood-plant.jpg') center top;
    height: 60px;
    width: 100%;
    background-size: cover;
  }

  .cookPreview {
    background: #3b5769;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}