@import "../../theme/variables.scss";

.home {
  background-color: #333333;
  color: #efefef;
}
.videoContainer {
  padding: 100px;
  background: #e3e3e3;
  text-align: center;
  color: #333;
}
.topChefs {
  li {
    padding:5px;
    margin-top:5px;
  }
  .chefName {
    position: relative;
    top: -9px;
    left: 10px;
  }
}
.videoPreview {
  width:40px;
  background: #e3e3e3;
  height:30px;
  display: inline-block;
}
.chefNameTitle {
  font-size:12px;
}
