@import "../../theme/variables.scss";

.app {
  .brand {
    background: url('../../../static/logo-white-matte-3.png') no-repeat center center;
    width: 85px;
    height: 48px;
    background-size: cover;
    margin:0;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  .liveIcon{
    color: $matte-red!important;
    font-size: 12px!important;
  }
  .navBtn {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    margin-top:8px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
    margin-right:2px;
  }
  .loginBtn {
    border: 1px solid rgb(47, 136, 154);
    background: $nav-color;
    a {
      padding: 2px;
      color: #fff!important;
    }
  }
  .joinBtn {
    border: 1px solid $nav-color;
    background: $btn-color;
    a {
      padding: 2px;
      color: #fff!important;
    }
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}
