.app {
  .brand {
    background: url('../Home/logo.png') no-repeat center center;
    width: 80px;
    height:50px;
    background-size: cover;
    margin:0;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  .liveIcon{
    color: red!important;
    font-size: 12px!important;
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}
